.container {
  display: flex;
  margin-left: 165px;
  margin-right: 165px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  width: 1110px;
}
.box p {
  color: black;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.link p {
  text-decoration: none;
}
.link {
  text-decoration: none;
}

.box {
  background-color: rgb(241, 241, 241);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 8px;
}
.image {
  height: 100%;
  padding-bottom: 80px;
}
.box2 {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icon {
  padding: 0;
}
.box2 p {
  font-size: 12px;
  padding-right: 4px;
}
